<% if defined?(::ActionCable) %>
  <%= rails_mail_turbo_stream_from "rails_mail:emails", channel: "RailsMail::EmailsChannel" %>
<% end %>

<div id="email-sidebar" data-controller="email-highlight">
  <% @emails&.each do |email| %>
    <%= render "rails_mail/shared/email", email: email %>
  <% end %>
</div>