<%= turbo_stream_from "rails_mail:emails", channel: "RailsMail::EmailsChannel" %>

<div id="emails-list" class="space-y-1">
  <% @emails.each do |email| %>
    <%= render "rails_mail/shared/email", email: email %>
  <% end %>
</div> 