<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-2xl font-bold mb-4">No emails at the moment</h1>
  <h2 class="text-xl mb-16">Once emails are sent from your app, they will appear here</h2>
  <%= image_tag "rails_mail/rails-mail.png", class: "mb-16" %>
</div>
