<turbo-stream action="remove" target="<%= dom_id(@email) %>">
</turbo-stream>

<% path_to_visit = if RailsMail::Email.count.zero?
    root_path
  else
    email_path(@email.next_email)
  end
%>

 <turbo-stream action="update" target="email_content">
  <template>
    <div class="" data-controller="redirect" data-redirect-url-value="<%= path_to_visit %>">
      <div class="flex justify-center items-center min-h-screen">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-gray-900"></div>
      </div>
    </div>
  </template>
</turbo-stream>